@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-base: var(--font-poppins), var(--font-pretendard), sans-serif;

  --max-width: 600px;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.87 0 0);

  --chart-2: oklch(0.556 0 0);

  --chart-3: oklch(0.439 0 0);

  --chart-4: oklch(0.371 0 0);

  --chart-5: oklch(0.269 0 0);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Brand */
  --color-main: #6a40fc;
  --color-sub: #bdfb46;
  --color-main-light1: #f4f1ff;
  --color-main-light2: #d4c4ff;
  --color-main-dark1: #431ad2;
  --color-main-mid: #7866b5;
  --color-sub-dark1: #87da34;

  /* Semantic */
  --color-success: #16b44a;
  --color-warning: #f59e0b;
  --color-danger: #ed2525;
  --color-info: #007bff;

  /* Greyscale */
  --color-allwhite: #ffffff;
  --color-grey1: #f5f6f8;
  --color-grey2: #e6e8eb;
  --color-border: #d9d9d9;

  /* Font Color */
  --color-font-basic: #222222;
  --color-font-middle: #6c6c6c;
  --color-font-light: #aaaaaa;
  --color-font-white: #ffffff;

  /* Max Width */
  --max-width: var(--max-width);

  /* Shadow */
  --shadow-img: 0px 4px 20px rgba(0, 0, 0, 0.08);
  --shadow-tooltip:
    0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px rgba(0, 0, 0, 0.1);
  --shadow-btn: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);

  /* Radius */
  --radius-r1: 8px;
  --radius-r2: 16px;
  --radius-r3: 20px;

  /* Weight */
  --font-weight-b: 700;
  --font-weight-m: 500;
  --font-weight-r: 400;
  --font-weight-sb: 600;

  /* Font Size */
  --text-h1: 1.75rem; /* 28px */
  --text-h2: 1.5rem; /* 24px */
  --text-h3: 1.25rem; /* 20px */
  --text-h4: 1.125rem; /* 18px */
  --text-p1: 1rem; /* 16px */
  --text-p2: 0.875rem; /* 14px */
  --text-c1: 0.75rem; /* 12px */
}

/* Typography */
@layer utilities {
  /* Heading */
  .h1-bold {
    font-size: var(--text-h1);
    font-weight: var(--font-weight-b);
  }
  .h1-semibold {
    font-size: var(--text-h1);
    font-weight: var(--font-weight-sb);
  }

  .h2-bold {
    font-size: var(--text-h2);
    font-weight: var(--font-weight-b);
  }
  .h2-semibold {
    font-size: var(--text-h2);
    font-weight: var(--font-weight-sb);
  }

  .h3-bold {
    font-size: var(--text-h3);
    font-weight: var(--font-weight-b);
  }
  .h3-semibold {
    font-size: var(--text-h3);
    font-weight: var(--font-weight-sb);
  }

  .h4-bold {
    font-size: var(--text-h4);
    font-weight: var(--font-weight-b);
  }
  .h4-semibold {
    font-size: var(--text-h4);
    font-weight: var(--font-weight-sb);
  }

  /* Paragraph */
  .p1-bold {
    font-size: var(--text-p1);
    font-weight: var(--font-weight-b);
    line-height: 140%;
  }
  .p1-semibold {
    font-size: var(--text-p1);
    font-weight: var(--font-weight-sb);
    line-height: 140%;
  }
  .p1-medium {
    font-size: var(--text-p1);
    font-weight: var(--font-weight-m);
    line-height: 140%;
  }
  .p1-regular {
    font-size: var(--text-p1);
    font-weight: var(--font-weight-r);
    line-height: 140%;
  }

  .p2-bold {
    font-size: var(--text-p2);
    font-weight: var(--font-weight-b);
    line-height: 130%;
  }
  .p2-semibold {
    font-size: var(--text-p2);
    font-weight: var(--font-weight-sb);
    line-height: 130%;
  }
  .p2-medium {
    font-size: var(--text-p2);
    font-weight: var(--font-weight-m);
    line-height: 130%;
  }
  .p2-regular {
    font-size: var(--text-p2);
    font-weight: var(--font-weight-r);
    line-height: 130%;
  }

  /* Caption */
  .c1-bold {
    font-size: var(--text-c1);
    font-weight: var(--font-weight-b);
    line-height: 130%;
  }
  .c1-medium {
    font-size: var(--text-c1);
    font-weight: var(--font-weight-m);
    line-height: 130%;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-base), sans-serif;
  }
}

/* embla carousel */
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  align-items: flex-start;
  transition: height 0.2s;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-grey2);
}
.embla__dot--selected {
  background: var(--color-main);
}

/* textarea scrollbar */
textarea {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
